root = true

[*]
end_of_line = lf # padroniza o comando de quebra de linha em linux e windows
indent_style = space
indent_size = 2
charset = utf-8
trim_trailing_whitespace = true # remove espaços em branco no final das linhas
insert_final_newline = true # adiciona uma linha em branco no final dos arquivos